In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv("../data/raw/riyadh_resturants_raw.csv")
df_clean = df.copy()

In [48]:
df_clean["lat"] = pd.to_numeric(df_clean["lat"] , errors="coerce")
df_clean["lng"] = pd.to_numeric(df_clean["lng"] , errors="coerce")

In [49]:
df_clean = df_clean.drop_duplicates()

In [50]:
df_clean = df_clean.drop_duplicates(subset=["name" , "lat" , "lng"])

In [51]:
df_clean["price"] = df_clean["price"].str.strip().str.lower()

In [52]:
df_clean["price"] = df_clean["price"].replace("nan" , np.nan)

In [53]:
price_mode = df.price.mode()[0]
df_clean["price"] = df_clean["price"].fillna(price_mode)

In [54]:
rating_mean = df_clean["rating"].mean()
df_clean["rating"] = df_clean["rating"].fillna(rating_mean)

In [55]:
for col in ["name" , "categories" , "address"]:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].str.strip()

In [64]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19355 entries, 0 to 19360
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           19355 non-null  object
 1   categories     19355 non-null  object
 2   address        19355 non-null  object
 3   lat            19355 non-null  float64
 4   lng            19355 non-null  float64
 5   price          19355 non-null  object
 6   likes          19353 non-null  float64
 7   photos         19355 non-null  int64
 8   tips           19355 non-null  int64
 9   rating         19355 non-null  float64
 10  ratingSignals  7946 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.8+ MB

In [65]:
df_clean.likes = df_clean.likes.fillna(0)

In [66]:
df_clean.isna().sum()

name                 0
categories           0
address              0
lat                  0
lng                  0
price                0
likes                0
photos               0
tips                 0
rating               0
ratingSignals    11409
dtype: int64

In [46]:
df_clean.to_csv("../data/clean/riyadh_restaurants_clean.csv", index=False)